.container {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1 {
  margin-bottom: 16px;
}

.ant-input, .ant-select {
  width: 200px;
}

.title {
  margin-right: 16px;
}

.group {
  margin-top: 8px;
  margin-bottom: 8px;
}