.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 600px;
}

h1 {
  margin-top: 32px;  
  margin-bottom: 16px;
}

.ant-input, .ant-select {
  width: 200px;
}

.title {
  margin-right: 16px;
}

.group {
  margin-top: 8px;
  margin-bottom: 8px;
}

.errMessage {
  color: #e74c3c;
}
